<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>




<h2>Versions</h2>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Modifier</th>
			<th>Action</th>
			<th>Changes</th>
		</tr>
	</thead>
	<tbody>
		<% @product.versions.each do |version| %>
			<%= tag.tr do %>
				<%= tag.td version.id %>
				<%= tag.td version.whodunnit %>
				<%= tag.td link_to 'rollback',product_rollback_path(@product, version: version)%>
				<%= tag.td do %>
					<%= tag.ul class: 'list-group' do %>
						<li class="list-group-item">
							<strong>Title</strong>
							<%= version.changed_object.title %>
						</li>
						<li class="list-group-item">
							<strong>Description</strong>
							<%= version.changed_object.description %>
						</li>
						<li class="list-group-item">
							<strong>Image Url</strong>
							<%= version.changed_object.image_url %>
						</li>
						<li class="list-group-item">
							<strong>Price</strong>
							<%= version.changed_object.price %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

	</tbody>
</table>